<html >

<script src="ang.js">

</script>
<style >
	div
	{ }
	marquee,a,h3{
		color: white;
	}
</style>
<body background="image\t1.jpg">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '101112303793219',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
 
 
FB.getLoginStatus(function (response){
if(response.status==='connected'){
document.getElementById('status').innerHtml='we are connected.';}
else if(response.status==='not_authorized')
{
document.getElementById('status').innerHtml='we are connected.';	
}
else{
document.getElementById('status').innerHtml='we are not logged in.';}


});	 
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

	function login()
	{
	FB.login(function(response)
		 {if(response.status==='connected'){
document.getElementById('status').innerHtml='we are connected.';}
else if(response.status==='not_authorized')
{
document.getElementById('status').innerHtml='we are connected.';	
}
else{
document.getElementById('status').innerHtml='we are not logged in.';}
	});
	};
	
function getInfo()
{
FB.api('/me','get',{fields:'first_name,last_name,name,id'},function(response){
  document.getElementById('status').innerHtml=response.id;}
);

};	

	
	</script>
	
	
<div ng-app="myApp" ng-controller="myctrl" ng-model="pnrstatus">
<marquee>
<h1> TRAIN STATUS </h1>
</marquee>
	<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
	<div id="status"></div>
	<button onclick="login()">login with facebook</button>
<button onclick="GetInfo()" style="color:#ffff">get info</button>

<a href="tamplets\pnr.html" >Press If You Want To Know About Pnr</a>

<br>

<h3>ENTER THE TRAIN NUMBER.. ..</h3>
<input type="text" ng-model="trainnumber">

{{trainnumber}}
<button ng-click='sayHello()'>train</button>

<br>
<h3>train-name  -		{{mywelcome.train.name}}</h3>

<h3>train-number  -		{{mywelcome.train.number}}</h3>


<marquee>
<h1> Creater of the website is </h1>

</marquee>
<img src="image\rishab.jpg ">

</div>


<script>

var app=angular.module('myApp',[]);
app.controller('myctrl',function ($scope,$http,$log) {
$scope.trainnumber='12149';		

 $scope.sayHello = function() {
    $scope.greeting = $scope.trainnumber ;
$http({

method:'GET',

url:' http://api.railwayapi.com/route/train/'+$scope.greeting+'/apikey/remavewv/'})
.then(function(response)
{
$scope.mywelcome=response.data;
});


};



});

</script>

</body>


</html>
